<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_style.css') }}">
</head>

<body>

    <div class="main-container">

        <nav class="navbar">
            <div class="site-name">SURVEY WORLD</div>
            <div class="nav-links">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfI2rR9iiYa2aw0D2W08PeR4_sqfgCl8f93T4y4C_83b3rO5Q/viewform"
                    target="_blank" class="take-survey-link" style="text-decoration: none;">
                    <span class="participate-link">
                        Start Participating
                    </span>
                </a>
            </div>
        </nav>

        <div class="blob blob1"></div>
        <div class="blob blob2"></div>
        <div class="blob blob3"></div>


        <div class="content-area">
            <div class="button-wrapper">
                <a href="/dashboard" class="survey-btn">Student Expenses</a>
                <a href="#" class="survey-btn">Future surveys</a>
                <a href="#" class="survey-btn">Future surveys</a>
                <a href="#" class="survey-btn">Future surveys</a>
            </div>
        </div>

        <footer class="footer">
            Made with ❤️ for smart survey insights.
        </footer>

    </div>


</body>

</html>